* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  background-color: #758283;
}

.list-item {
  display: flex;
  color: #fff;
  list-style: none;
}
.list-items {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.section-button {
  padding: 0.5rem;
  position: relative;
  left: 7rem;
  width: 10rem;
  background-color: rgb(147, 179, 147);
  font-size: 20px;
  color: #fff;
  border: 2px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.section-2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #758283;
}
.rgstr-btn button {
  padding: 1rem;
  width: 15rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 20px;
  color: #1b98f5;
  border: 2px solid #1b98f5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.section-2-left {
}

.frst-img {
  width: 30rem;
  height: 30rem;
}
.section-2-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35rem;
}
.section-head {
  font-size: 3rem;
  color: #fff;
}
.section-para {
  font-size: 1.5rem;
  color: #fff;
}
.sectn-btm {
  display: flex;
  width: 30rem;
  height: 3rem;
  align-items: center;
  background-color: #fff;
}
.input {
  height: 2.5rem;
  border: #ffff;
  width: 11rem;
}

/*..connect-section.. */

.connect-sectn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 3rem;
  font-size: 2rem;
  width: 50rem;
  text-align: center;
}
.project-lst {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3rem;
}
.project-lsts {
  margin-left: 2rem;
  text-align: center;
}
.project-lsts h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.project-lsts p {
  font-size: 20px;
  color: grey;
}

.cnnct-img {
  width: 100%;
  text-align: center;
}
.connect-imge {
  margin-top: 5rem;
  width: 60%;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 0px;
}
.section-1-right {
}
.section-1-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: flex-start;
  width: 35rem;
}
.dev-content {
  display: flex;
}
.dev-heading {
  font-size: 2rem;
  width: 30rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.dev-head {
  margin-top: 1rem;
  font-size: 2rem;
  width: 24rem;
  margin-bottom: 1rem;
}
.dev-img {
  width: 25rem;
  height: 25rem;
}
.dev-para {
  width: 24rem;
  font-size: 1.2rem;
  color: grey;
}
.dev-btn {
  padding: 0.5rem;
  width: 10rem;
  margin-top: 2rem;
  background-color: rgb(147, 179, 147);
  font-size: 20px;
  color: #fff;
  border: 2px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.dev-content2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.dev-img2 {
  width: 25rem;
  height: 25rem;
  margin-right: 20rem;
  padding-left: 9rem;
}

.bottom-sec {
  width: 100%;
}
.btm-1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 15rem;
  align-items: center;
  margin-top: 5rem;
}
.btm-1-lft {
  width: 20rem;
  font-size: 2rem;
}
.btm-1-rgt {
  width: 25rem;
  font-size: 1.5rem;
  color: grey;
}

.btm-2 {
  display: flex;
  justify-content: center;
}
.card {
  margin-left: 4rem;
}
.btm-img {
  width: 20rem;
}
.card p {
  width: 20rem;
  font-size: 1rem;
  color: grey;
}
.btm-3{
    text-align: center;
    margin-top: 2rem;
    
}
.btm-3 button{

    padding: 0.5rem;
    width: 10rem;
   background-color: rgb(147, 179, 147);
   font-size: 20px;
   color: #fff;
  border: 2px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 3rem;
}
.Footer-sec{
    color: #fff;
    background-color: black;
    height: 20rem;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}


.Footer-sec-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    width: 80rem;
}
.footer-sec-btm{

    display: flex;
    justify-content: space-around;
  
    width: 80rem;
    margin-left: 0pc;
  
}
.lst-items-main{


}

.lst-item{

    list-style: none;
}
.lst-items{

    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 100;
    color: lightgrey;
}

.lst-items-main{
font-weight: 900;


}
.ln{
    padding: 10px;
    color: #fff;
}
.icons{

  
}
.logo{
   
}

@media screen and (max-width:900px) and (min-width :200px) {

body{

  padding: 0%;
  margin: 0%;
  width: fit-content;
}
.navbar{

  display: none;
}

.section-2{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.frst-img
{

  width: fit-content;
}
.section-2-right{

 width: max-content;
 margin-left: auto;
 margin-right: auto;
 align-items: center;

}
.section-para{

  width: 40rem;
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.section-head{

  width: max-content;
 
}
.section-1{
  align-items: center;
  border: solid 5px purple;
}
.dev-content{
    
  display: flex;
 
  
 
}
.dev-content2{
 
  display: flex;
 
}
.dev-head{

  font-size: 3rem;

}
.dev-para{

  font-size: 2rem;
}
.lst-items{

  font-size: 1.2rem;
}






}







@media screen and (max-width:200px) {
  
  .dev-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .dev-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
  .dev-content2{
   
    display: flex;
    flex-direction: column;
  }
}